<nav id="mobile-nav">
  <div class="inner">

    {% if section.settings.show_header_search %}
    <form class="search-form" action="{{ routes.search_url }}" method="get">
      <input type="hidden" name="type" value="{{ settings.search_type }}" />
      <button type="submit">{% render 'svg-search' %}</button>
      <input type="text" name="q" placeholder="{{ 'layout.header.search' | t }}" aria-label="{{ 'general.search.search_label' | t | escape }}" />
    </form>
    {% endif %}

    {% if section.settings.show_social_icons %}
      {%- capture social_link_html -%}
        {%- render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: 'x48' -%}
      {%- endcapture -%}
      {%- if social_link_html contains '</a>' -%}
        <div class="header">
          {{ social_link_html}}
        </div>
      {%- endif -%}
    {% endif %}

    {% comment %} Start of main menu {% endcomment %}
    <nav aria-label="{{ 'layout.mobile_navigation.menu_aria_label' | t | escape }}">
      <ul class="mobile-nav-menu plain">
        {% for link in linklists[section.settings.menu_linklist].links %}
          <li class="nav-item{% if link.active %} active{% endif %}">
            <a class="nav-item-link{% if featured_links contains link.title %} nav-item-link--featured{% endif %}" href="{{ link.url }}">
              {{ link.title }}
            </a>

            {% if link.links != blank %}
            <button class="open-sub-nav"
              data-sub-nav="menu-{{ forloop.index }}"
              aria-haspopup="true"
              aria-controls="sub-nav-menu-{{ forloop.index }}">{% render 'svg-chevron-right' %}</button>
            {% endif %}
          </li>
        {% endfor %}

        {% if shop.customer_accounts_enabled %}
          {% if customer  %}
            <li class="nav-item--lower account-nav-item account-nav-item--top"><a href="{{ routes.account_url }}">{{ 'layout.customer.your_account' | t }}</a></li>
            <li class="nav-item--lower account-nav-item"><a href="{{ routes.account_logout_url }}">{{ 'layout.customer.log_out' | t }}</a></li>
          {% else %}
              <li class="nav-item--lower account-nav-item account-nav-item--top"><a href="{{ routes.account_login_url }}">{{ 'layout.customer.log_in' | t }}</a></li>
              <li class="nav-item--lower account-nav-item"><a href="{{ routes.account_register_url }}">{{ 'layout.customer.create_account' | t }}</a></li>
          {% endif %}
        {% endif %}
      </ul>

      {%- if section.settings.show_locale_selector or section.settings.show_currency_selector-%}
        <span class="localization localization--mobile-menu">
          {% render 'localization', input_prefix: 'mobile-menu' %}
        </span>
      {%- endif -%}
    </nav>
  </div>

  {% comment %} Output sub-nav {% endcomment %}
  {% for link in linklists[section.settings.menu_linklist].links %}
  {% if link.links != blank %}
  {% assign outer_forloop_index = forloop.index %}

  <div id="sub-nav-menu-{{ forloop.index }}" class="sub-nav" data-is-subnav-for="menu-{{ forloop.index }}">
    <div class="header">
      <a class="close-sub-nav" href="#"><span class="btn alt">{% render 'svg-chevron-left' %}</span> {{ 'layout.mobile_navigation.back' | t }}</a>
    </div>

    <ul class="sub-nav-list plain">
      {% for child_link in link.links %}
      <li class="sub-nav-item{% if child_link.active %} active{% endif %}">
        <a class="sub-nav-item-link" href="{{ child_link.url }}">{{ child_link.title }}</a>
        {% if child_link.links != blank %}
        <button class="open-sub-nav"
          data-sub-nav="menu-{{ outer_forloop_index }}-{{ forloop.index }}"
          aria-haspopup="true" aria-controls="sub-nav-menu-{{ outer_forloop_index }}-{{ forloop.index }}">{% render 'svg-chevron-right' %}</button>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  {% for child_link in link.links %}
  {% if child_link.links != blank %}
  <div id="sub-nav-menu-{{ outer_forloop_index }}-{{ forloop.index }}" class="sub-nav" data-is-subnav-for="menu-{{ outer_forloop_index }}-{{ forloop.index }}">
    <div class="header">
      <a class="close-sub-nav" href="#"><span class="btn alt">{% render 'svg-chevron-left' %}</span> {{ 'layout.mobile_navigation.back' | t }}</a>
    </div>

    <ul class="sub-nav-list plain">
      {% for child_child_link in child_link.links %}
      <li class="sub-nav-item{% if child_child_link.active %} active{% endif %}">
        <a class="sub-nav-item-link" href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}

  {% endif %}
  {% endfor %}
</nav>
