<div class="container" data-section-type="blog-template">
  <div class="inline-row cf">
    <!-- Begin breadcrumbs -->
    {% render 'breadcrumbs' %}
    <!-- End breadcrumbs -->

    {% if section.settings.show_sharing_icons %}
    <div class="inline-item right">
      {% render 'social-sharing', share_title: blog.title, share_permalink: blog.url, share_image: false %}
    </div>
    {% endif %}
  </div>

  <div class="page-title opposing-items float-right">
    <h1 class="left">
      {{ blog.title }}
      {% for tag in current_tags %} / {{ tag }}{% endfor %}
      {% if section.settings.show_rss %}<a target="_blank" href="{{ blog.url }}.atom" aria-label="RSS Feed">{% render 'svg-rss' %}</a>{% endif %}
    </h1>

    {% if section.settings.show_tags and blog.all_tags.size > 0 %}
    <ul class="right last tags plain">
      <li class="tag{% unless current_tags.size > 0 %} active{% endunless %}">{{ 'blogs.general.all_articles' | t | link_to: blog.url }}</li>
      {% for tag in blog.all_tags %}
      <li class="tag{% if current_tags contains tag %} active{% endif %}">
        {{ tag | link_to_tag: tag }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  {% paginate blogs.my_new_blog.articles by 5 %}

  {% if blog.articles.size > 1 %}

  <div class="articles row grid {% if section.settings.tile_mode contains 'masonry' %}use-masonry{% endif %} {% if section.settings.use_inf_scroll %}use-infinite-scroll{% endif %}">

    {% capture article_class %}{% if section.settings.tile_mode contains 'tile' %}flex column max-cols-4{% else %}full column{% endif %}{% endcapture %}
    {% capture header_size %}{% if section.settings.tile_mode == '' %}2048x{% else %}640x{% endif %}{% endcapture %}

    {% for article in blog.articles %}
      {% render 'article-block' with article_class, article: article %}
    {% endfor %}

  </div>
  {% else %}

  <p>{{ 'blogs.general.no_matches' | t }}</p>

  {% endif %}

  {% if paginate.pages > 1 %}
  <div class="inline-row cf">
    <div class="inline-item left"><div class="results-count results-count--lower">{{ 'blogs.general.results' | t: count: blog.articles_count }}</div></div>
    <div class="inline-item right">{% render 'pagination', paginate: paginate %}</div>
  </div>
  {% endif %}

  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_rss",
        "label": "Show RSS feed link",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tag filter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_meta_on_listing",
        "label": "Show date and comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags_on_articles",
        "label": "Show tags under each article",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_sharing_icons",
        "label": "Show social sharing icons",
        "default": true
      },
      {
        "type": "select",
        "id": "tile_mode",
        "label": "Article layout",
        "options": [
          {
            "value": "",
            "label": "Full width"
          },
          {
            "value": "tile",
            "label": "Tiles - in rows"
          },
          {
            "value": "tile-masonry",
            "label": "Tiles - in columns"
          }
        ],
        "default": ""
      },
      {
        "type": "checkbox",
        "id": "use_inf_scroll",
        "label": "Enable infinite-scroll",
        "default": false
      }
    ]
  }
{% endschema %}
