<div class="container" data-section-type="search-template">
  {% if search.performed and search.terms != "" %}
    {% paginate search.results by section.settings.pagination_limit_int %}

      {% if search.results == empty %}

        <div class="section align-center">
          <h1 class="page-title">{{ 'general.search.no_results_title' | t }}</h1>
          <div class="subtext lightly-spaced-row">{{ 'general.search.no_results' | t: terms: search.terms }}</div>

          <form action="{{ routes.search_url }}">
            <div class="inline-input-button">
              <input type="hidden" name="type" value="{{ settings.search_type }}" />
              <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.search_label' | t | escape }}" />
              <button type="submit">{{ 'general.search.search_button' | t }}</button>
            </div>
          </form>
        </div>

      {% else %}

        <div class="align-center spaced-row">
          <h1 class="page-title">{{ 'general.search.results_title' | t }}</h1>

          <form class="inline-input-button lightly-spaced-row" action="{{ routes.search_url }}">
            <input type="hidden" name="type" value="{{ settings.search_type }}" />
            <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.search_label' | t | escape }}" />
            <button type="submit">{{ 'general.search.search_button' | t }}</button>
          </form>

          <div>{{ 'general.search.results_with_count' | t: count: search.results_count }}</div>
        </div>

        <!-- Begin results -->
        <div class="product-grid row grid" data-normheights=".image" data-normheights-inner="img">
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              {% render 'product-block', product: item %}
            {% else %}

            <div class="product-block page-block flex column max-cols-{{ section.settings.products_per_row }} min-cols-2">
              <div class="product-block__inner">
                <div class="text-cont">
                  {% if item.object_type == 'article' and item.image %}
                  <div class="article-image">{% render 'responsive-image', image: item.image %}</div>
                  {% endif %}
                  <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
                  <div><a href="{{ item.url }}">{{ item.content | strip_html | truncatewords: 25 | highlight: search.terms }}</a></div>
                  <a class="more-link" href="{{ item.url }}">{{ 'general.search.read_more' | t }}</a>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}

          {%- for i in (1..section.settings.products_per_row) -%}
            <div class="product-block product-block--flex-spacer flex column max-cols-{{ section.settings.products_per_row }} min-cols-2"></div>
          {%- endfor -%}
        </div>
        <!-- End results -->

        {% if paginate.pages > 1 %}
        </div>
        <div class="border-top">
          <div class="container">
            <div class="inline-row cf">
              <span class="inline-item left pagination">{{ 'collections.general.results' | t: count: paginate.items }}</span>
              <div class="inline-item right last">{% render 'pagination', paginate: paginate %}</div>
            </div>
          </div>
        {% endif %}

      {% endif %}

    {% endpaginate %}

  {% else %}

  <div class="section align-centre">
    <h1 class="page-title">{{ 'general.search.page_title' | t }}</h1>

    <form action="{{ routes.search_url }}">
      <div class="inline-input-button">
        <input type="hidden" name="type" value="{{ settings.search_type }}" />
        <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.search_label' | t | escape }}" />
        <button type="submit">{{ 'general.search.search_button' | t }}</button>
      </div>
    </form>
  </div>

  {% endif %}
</div>


{% schema %}
  {
    "name": "Search results",
    "settings": [
      {
        "type": "checkbox",
        "id": "grid_show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "products_per_row",
        "label": "Maximum number of products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "4"
      },
      {
        "type": "range",
        "id": "pagination_limit_int",
        "min": 12,
        "max": 50,
        "step": 1,
        "label": "Number of products per page",
        "default": 36
      }
	]
  }
{% endschema %}
